body {
	width:700px;
	width:80%;
    margin-left:auto;
    margin-right:auto;
}
.top-gray-box {
	background-color: #eee;
	width: 200px;
	height: 150px;
	z-index: 10;

}
.top-container {
	margin-top: 10px;
	z-index: 2;

}
.big-gray-box {
	background-color: #eee;
	width: 700px;
	height: 200px;
	position: relative;

}
.dark-gray-box {
	position: absolute;
	background-color: #999: 
	height: 75px;
	width: 150px;
}
